<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recovery phrase for <%= name %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
      body {
        margin: 2em auto;
        max-width: 30em;
        padding: 1em;
        text-align: center;
        font-size: 110%;
        font-family: sans-serif;
        font-weight: 300;
      }
      #logo {
        max-width: 4rem;
        margin-bottom: 3rem;
      }
      p {
        margin-bottom: 1rem;
      }
      figure {
        margin-bottom: 1rem;
      }
      figure.address img {
        border-radius: 100%;
      }
      pre code {
        display: inline-block;
        text-align: center;
        white-space: normal;
        line-height: 1.3;
      }
    </style>
  </head>
  <body>
    <img id="logo" src="<%= logo %>" alt="Parity Logo" />
    <p>This is your account <em><%= name %></em>:</p>
    <figure class="address">
      <img src="<%= identity %>" alt="symbol for the address of the account" />
      <figcaption><code><%= address %></code></figcaption>
    </figure>
    <p>This is the recovery phrase:</p>
    <pre><code><%= phrase %></code></pre>
  </body>
</html>
